/* Home page */
#heading {
  height: 50px;
}
#logout {
  position: absolute;
  right: 0;
  margin-right: 5%;
  display: inline;
}
h3 {
  color: black;
  font-family: 'Bellota', cursive;
  font-size: 1.8rem;
  padding-top: 10px;
}
button {
  color: red;
  font-family: 'Bellota', cursive;
  font-size: 1rem;
  margin-bottom: 10px;
}
#list {
  height: 95vh;
  background-image: url("pics/home.jpg");
  background-size:1000px 767px;
  z-index: 1;
  padding-right: 0!important;
}
#list h3 {
  color: white;
}
#list li {
  color: white;
}
#list form {
  display: inline;
}
#shadow {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}
#add {
  display: inline;
  clear: both;
}

/* Login page */
hr {
  border-top: 2px solid;
  margin-bottom: 20px;
}
#background {
  height: 100vh;
  background-image: url("https://pics.freeartbackgrounds.com/midle/Country_Fields_Background-197.jpg");
  background-size:100% 100vh;
  z-index: 1;
}

@media (max-width: 767px) {
  #list {
    height: auto;
  }
  #logout {
    margin-right: 20px;
  }
  h3 {
    font-size: 1.5rem;
  }
}
