{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div id="heading" class="col-md-12 text-center">
    {% if title == True %}
    <form action="/reg" method="post">
      <input type="text" name="name"></input>
      <label>'s ToDo List</label>
      <button type="submit">Start</button>
    </form>
    {% else %}
    <a href="/"><h3 id="head">{{ title }}</h3></a>
    <a href="/logout"><h3 id="logout">Logout</h3></a>
    {% endif %}
  </div>
</div>
<div class="row text-center">
  <div id="list" class="col-12 col-md-6">
    <div id="shadow">
      <h3>Things left: {{ total }}</h3>
      {% for note in notes %}
        <li>{{ note }}</li>
        <form action="/remove" method="post">
          <input type="hidden" name="to_delete" value="{{ note }}"></input>
          <button type="submit">Done</button>
        </form>
        {% if edit == True and note == toEdit %}
        <form action="/edited" method="post">
          <input type="text" name="after_note" value="{{ toEdit }}"></input>
          <input type="hidden" name="before_note" value="{{ note }}"></input>
          <button type="submit">Save</button>
        {% else %}
        <form action="/edit" method="post">
          <input type="hidden" name="before_note" value="{{ note }}"></input>
          <button type="submit">Edit</button>
        {% endif %}
        </form>
      {% endfor %}
    </div>
  </div>
  <div id="add" class="col-12 col-md-6">
    <h3>Add an item</h3>
    <form action="/add" method="post">
      <input type="text" name="new_note"></input>
      <button type="submit">Add</button>
    </form>
  </div>
</div>
{% endblock %}
